#receipt {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.073);
  height: 100%;
  font-size: 0.8rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  color: black;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 0.3rem;
  overflow: scroll;
  font-family: "Times New Roman", Times, serif, Helvetica, sans-serif !important;
  position: relative;

  #receipt-logo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 80px;
    width: 80px;
  }
  thead {
    th {
      background-color: rgba(255, 166, 0, 0.592);
    }
  }
  table {
    width: 100%; /* Optional: Stretch the table to full width */
    border-collapse: collapse; /* Collapses all borders into a single line */
  }

  th {
    text-align: center;
  }
  th,
  td {
    // border: 1px solid black; /* Individual cell borders */
    padding: 0.1rem; /* Adjust padding for spacing inside cells */
  }
  td.borderless,
  .total-row {
    border: none !important;
  }
  .term {
    max-width: 200px !important;
  }
  h4 {
    text-align: center;
    &.title {
      margin-top: 1rem;
    }
  }

  ul {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
  h3,
  p {
    // font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    min-width: 70px;
    font-weight: 500;
    span {
      font-weight: normal;
    }
  }
  .signatures {
    margin-top: 3rem;
    padding-inline: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    > * {
      flex: 1;
      height: 100%;
      border-top: 1px solid black;
    }
  }
  .PO-credentials {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
  }
  .PO-to-from {
    display: flex;
    border: 1px solid black;
    > div {
      height: 100%;
      overflow: auto;
      &:first-of-type {
        border-right: 1px solid black;
      }
      > div {
        display: flex;
        justify-content: start;
        gap: 0.3rem;
        // overflow: auto;
        // word-break: break-word;
        // align-items: center;
        > strong {
          min-width: max-content;
          // background-color: pink;
        }
        > p {
          margin-right: 1rem;
        }
      }
      .invoice-address {
        display: block;
        margin-bottom: 1rem;
        border-top: 1px solid black;
        p {
          max-width: 100px;
        }
      }
    }
  }
}
