JWT_SECRET = your_jwt_secret
PORT = 3001
CORS_ORIGIN = http://localhost:3000
SERVER_URL = http://localhost:3001, or, your hosted server URL
DB_HOST = sql db host
DB_USER = sql username
DB_PASSWORD = sql password
DB_NAME = db name
DB_PORT = your db port